<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

</head>

<body>
  <div class="wrapper">
    <header>
      <h1 id="home-button" class="home"> <a href="/">Tech Blog</a> </h1>
      <nav>
        {{!-- need two divs: left --> home(title),dashboard , and  right --> login/logout --}}
        <div class="nav-section">
          {{!-- dashboard should only be an option when loggedIn --}}
          <a class="link-button" href="/dashboard">dashboard</a>
        </div>
        <div class="nav-section">
          {{!-- {{#if loggedIn}} --}}
          <a id="logout"  href="/" class="link-button">logout</a>
          {{!-- {{else}} --}}
          <a class="link-button" href="/login">login</a>
          {{!-- {{/if}} --}}
        </div>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Thanks for visiting!
    </footer>
  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>