<h2 class="welcome">Welcome to your Dashboard!</h2>

<section class="new-post-form">
  <form class="card">
    <div class="card-header correct-colors">
        Create new Post
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input class="form-control" placeholder="Title" type="text" id="post-title" name="post-title" />
      </div>
      
      <div class="form-group">
        <label for="post-url">Content</label>
        <textarea class="form-control" placeholder="Enter content" id="post-url" name="post-url" /></textarea>
      </div>

      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>

  <div class="container">
      <div class="row">
          {{#each posts as |post|}}
          {{> post-info post }}
          <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
          {{/each}}
      </div>
  </div>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>