{{!-- This Page must show all posts --}}
<ol class="post-list">
    {{!-- {{#each posts as |post|}} --}}
    <li>
        {{!-- {{> post-info post }} --}}
        Posts
    </li>
    {{!-- {{/each}} --}}
</ol>