<div id="forms-section">
    <form class="signup-form individual-form card">
        <div class="card-header correct-colors">
            First time here?
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="username-signup">Username:</label>
                <input class="form-control" type="text" id="username-signup" placeholder="Enter username"/>
            </div>
            <div class="form-group">
                <label for="email-signup">Email:</label>
                <input class="form-control" type="text" id="email-signup" aria-describedby="emailHelp" placeholder="Enter email"/>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <input class="form-control" type="password" id="password-signup" placeholder="Password"/>
            </div>
            <div>
                <button type="submit"  class="btn btn-primary">Signup</button>
            </div>
        </div>
    </form>

    <form class="login-form individual-form card">
        <div class="card-header">
            Welcome Back!
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="email-login">Email:</label>
                <input class="form-control" type="email" id="email-login" aria-describedby="emailHelp" placeholder="Enter email"/>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group"> 
                <label for="password-login">Password:</label>
                <input  class="form-control" type="password" id="password-login" placeholder="Password"/>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>

{{!-- <script src="/javascript/login.js"></script> --}}