<div id="forms-section">
    <form class="signup-form w-75 individual-form card">
        <div class="card-header">
            Create account
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="username-signup">Username:</label>
                <input class="form-control" type="text" id="username-signup" placeholder="Enter username"/>
            </div>
            <div class="form-group">
                <label for="email-signup">Email:</label>
                <input class="form-control" type="text" id="email-signup" aria-describedby="emailHelp" placeholder="Enter email"/>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="password-signup">Password:</label>
                <input class="form-control" type="password" id="password-signup" placeholder="Password"/>
            </div>
            <div class="login-buttons">
                <button type="submit"  class="btn btn-secondary general-button">Signup</button>
                <a href="/login">Login instead</a>
            </div>
        </div>
    </form>
</div>

<script src="/javascript/signup.js"></script>